.firstInfo{
  position: absolute;
  padding: 1%;
  width: 500px;
  background: rgba(255,255,255, 0.6);
  border: $blue 5px solid;
  display: none;
}
.secondInfo{
  position: absolute;
  padding: 1%;
  width: 500px;
  background: rgba(255,255,255, 0.6);
  border: $blue 5px solid;
  display: none;
}
