.littleAttribute{
  position: absolute;
  margin: 0;
  font-size: 3rem;
  font-family: 'FilsonProLight', Arial, sans-serif;
}
.bigAttribute{
  margin: 0;
  position: absolute;
  font-family: 'FilsonProMedium';
  font-size: 13.5rem;

}
