.page5{
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/city_night.jpg);
    background-position: center;
    background-size: 100%;
    .greyShoe{
      position: absolute;
      top: 16%;
      right: 30%;
      width: 42%;
      transform: rotate(29deg);
    }
    .bigAttribute{
      left: 5%;
      bottom: 6%;
      color: white;
    }
    .firstInfo{
      right: 73%;
      top: 42%;
      p{
        color: white;
      }
    }
    .secondInfo{
      right: 3%;
      top: 33%;
      p{
        color: white;
      }
    }
    .firstTitle{
      top: 37%;
      left: 8%;
      color: white;
    }
    .secondTitle{
      top: 28%;
      right: 8%;
      color: white;
    }
    .sLeft{
      left: 41%;
      bottom: 50%;
    }
    .sRight{
      right: 40%;
      bottom: 40%;
    }
}
