.transition{
    position: absolute;
    height: 100vh;
    top: 0;
    right: auto;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    // border: solid 0px $lightblue;
    width: 0;
    color: $white;
    overflow: hidden;
    h2{
        font-size: 4rem;
        position: absolute;
        width: 70%;
        height: 50px;
        white-space: nowrap;
        overflow: hidden;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);
    }
    &.translate{
        animation: translate 3s ease-in-out forwards;
    }
    &[data-transition="1"]{
        background: url(../img/transitions/spain.jpg);
    }
    &[data-transition="2"]{
        background: url(../img/transitions/beachsteps.jpg);
    }
    &[data-transition="3"]{
        background: url(../img/transitions/hk.jpg);
    }
    &[data-transition="4"]{
        background: url(../img/city_night.jpg);
    }
    &[data-transition="5"]{
        background: url(../img/transitions/rocky-mountains.jpg);
    }
    &[data-transition="6"]{
        background: url(../img/transitions/blackforest.jpg);
    }
    &[data-transition="7"]{
        background: url(../img/transitions/manchester.jpg);
    }
}

@keyframes translate {
    from{
        width: 0;
    }
    50%{
        // border-width: 50px;
        width: 100%;
        left: 0;
        color: $white;
    }
    51%{
        width: 100%;
        left: auto;
        right: 0;
    }
    100%{
        left: auto;
        right: 0;
        width: 0;
    }
}
